body {
    font-family: Longwave, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

.piece-header{
    font-weight: bold;
}

.navbar {
    z-index: 1020;
}

.grid {
    margin: 5rem 0;
}

.grid img {
    width: 100%;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
    width: 20%;
}

/* 2 columns */
.grid-item--width2 {
    width: 40%;
}

.grid-item.gigante {
    width: 60%;
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
}